.dashboard-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #cc8585;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 80px; /* Below the header */
  left: 0;
  height: calc(100vh - 60px); /* Full viewport height minus header */
  overflow-y: auto; /* Enable scrolling if needed */
}

.sidebar button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover {
  background-color: #45a049;
}

.sidebar button.active {
  background-color: #45a049;
}

/* Content styles */
.content {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  margin-left: 300px; /* Account for the fixed sidebar */
  background-color: #f9f9f9;
  min-height: 100vh; /* Ensure content takes up full viewport height */
  padding-top: 80px; /* Account for fixed header */
}

h2, h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
